body {
    font-family: 'Jaldi', sans-serif;
    font-size: 22px;
}

a {
    color: #0077ff;
}

.kalam {
    font-family: 'Kalam', cursive;
}

.bluetext {
    color: #0066FF;
}

.nav {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 40px;
}

.nav a {
    color: #000;
    text-shadow: 0px 1px 5px bce0ff;
}

.nav .active {
    opacity: 60%;
}

.img-thumbnail {
    border: 0;
}

.no-underline {
    text-decoration: none;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.esittely-kuva {
    padding: 0px 10px 0px 10px;
    background: aliceblue;
    clip-path: circle();
    width: 200px;
}

#palvelut-btn {
    width: 125px;
    padding: 15px 0px 15px 0px;
    border-radius: 50px;
}

#scrollBtn {
    opacity: 70%;
    box-shadow: 0px 2px 5px #c5c5c5;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

#header {
    margin-right: 100px;
}

#header > div {
    width: 500px;
}

#scrollBtn:hover {
    background-color: paleturquoise;
}

#Implantti {
    margin-top: 50px;
}

#Implantti > p {
    color: #6c757d;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0px 1px 5px #bce0ff;
}

#hinnastoTable {
    display: grid;
    font-size: 18px;
}

#hinnastoTable > tbody > tr > th,
#hinnastoTable > tbody > tr > td {
    padding: 2px 30px;
    max-width: 350px;
}

#hinnastoTable > tbody > tr {
    border-bottom: 1px solid #e2e1e1;
}

#implanttiInfo {
    font-size: 13px;
    color: #6c757d;
}

#uusilaite {
    font-size: 18px;
    align-self: center;
}

#contact {
    margin-bottom: 25px;
}

#kartta {
    margin-bottom: 100px;
}
