body {
    font-family: 'Jaldi', sans-serif;
    font-size: 22px;
}

.container-fluid {
    --bs-gutter-x: 0;
    max-width: 1300px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    word-break: normal;
}

footer > p {
    font-size: 12px;
    padding-bottom: 10px;
}

#header > div > .fs-6 {
    margin: 0;
}

#header > div > div {
    margin-top: 30px;
}

/* LARGE DESKTOP */

.container-fluid {
    border-left: 2px solid #eef8fd;
    border-right: 2px solid #eef8fd;
    box-shadow: 0px 0px 10px #b5e4fb59;
}

.fs-5 {
    font-size: 18px !important;
}

.fs-6 {
    font-size: 16px !important;
}

/* DESKTOP */


#nav-btn {
    clip-path: circle();
    padding: 10px;
    background-color: #fff;
    width: 3.5em;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0;
}

a {
    color: #0077ff;
}

.kalam {
    font-family: 'Kalam', cursive;
}

.bluetext {
    color: #0066FF;
}

.nav {
    font-family: 'Julius Sans One', sans-serif;
}

.nav a {
    font-weight: bold;
}

.nav .active {
    opacity: 40%;
}

.img-thumbnail {
    border: 0;
}

.no-underline {
    text-decoration: none;
    font-size: 16px;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.25rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

.filter-dropshadow {
    filter: drop-shadow(-2px 3px 3px #ddd);
}

.hinnasto-container {
    background-image: url("images/hinnasto-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.clip-path-circle {
    padding: 0px 10px 0px 10px;
    clip-path: circle();
    width: 130px;
    background-color: aliceblue;
}

.second-hlokunta {
    margin-top: -50px;
}

#henkilosto {
    margin-top: 0px;
}

#nav-header {
    background-image: url("images/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

#nav-header > div > div {
    justify-content: center;
}

#palvelut-btn {
    width: 110px;
    padding: 15px 0px 15px 0px;
    border-radius: 50px;
    background-color: #fff;
}

#palvelut-btn:hover {
    background-color: #0066FF;
}

#scrollBtn {
    opacity: 60%;
    box-shadow: 0px 2px 5px #c5c5c5;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

#header {
    margin-right: 100px;
    padding-left: 70px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#header > div {
    width: 500px;
    word-break: break-word;
}

#scrollBtn:hover {
    background-color: paleturquoise;
}

#implantti {
    max-width: 60%;
    margin: 0 auto;
}

#implantti > p {
    color: #6c757d;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0px 1px 5px #bce0ff;
    font-size: 15px !important;
}

#hinnastoTable {
    display: grid;
    font-size: 16px;
}

#hinnastoTable > tbody > tr > th,
#hinnastoTable > tbody > tr > td {
    padding: 2px 30px;
    max-width: 300px;
}

#hinnastoTable > tbody > tr {
    border-bottom: 1px solid #e2e1e1;
}

#implanttiInfo {
    color: #6c757d;
}

#yleista {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#contact {
    margin-bottom: 25px;
}

/* AVERAGE MOBILE DEVICE */

@media (max-width: 950px) {

    #logo-puhelin svg {
        width: 18px;
    }

    .nav a {
        font-size: 13px !important;
    }

    #header {
        margin-right: 0;
        padding-bottom: 100px;
    }

    .pic-text {
        align-items: center;
    }

    .fs-5 {
        font-size: 18px !important;
    }
    
    .fs-6 {
        font-size: 16px !important;
    }

    #palvelut-btn {
        width: 90px;
        padding: 15px 0px 15px 0px;
    }

    .title {
        font-size: 1.25rem;
        margin-top: -25px;
        margin-bottom: 20px;
    }

    #yhteystiedot {
        margin-top: 0px;
    }

    .hlokunta-info .fs-5 {
        font-size: 15px !important;
    }

    .clip-path-circle {
        clip-path: circle();
        width: 100px;
    }

    #hinnastoTable > tbody > tr > th, #hinnastoTable > tbody > tr > td {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 250px;
    }

    #hinnastoTable {
        font-size: 14px;
    }

    #hinnastoTable th {
        text-align: start;
        padding: 10px !important;
        word-break: normal;
    }

    #hinnastoTable td {
        text-align: start;
    }

    .hinnasto-extra {
        font-size: 12px !important;
        padding-bottom: 15px;
        margin-top: 10px !important;
    }

    #uusilaite {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #implantti {
        margin-top: 15px !important;
    }

    .kalam {
        font-size: 14px !important;
    }

    .vasenhammas,
    .oikeahammas {
        width: 20px;
    }

    #scrollBtn {
        right: 40px;
    }

}

/* SMALL DEVICE */

@media (max-width: 768px) { 

    #header > div > .fs-6 {
        max-width: 100%;
    }

    #hinnasto-link {
        max-width: 100% !important;
    }
    
    #yhteystiedot-link {
        max-width: 100% !important;
    }

    .nav {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav,
    .show {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .nav a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav > div {
        align-items: center;
    }

    #nav-header > div {
        flex-direction: column !important;
    }

    #header {
        align-items: center !important;
        justify-content: center;
        padding: 0;
        margin: 0;
        padding-bottom: 100px;
    }

    #header > div {
        text-align: center !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .pic-text {
        flex-direction: column;
    }

    .filter-dropshadow {
        margin: 0 !important;
    }

    .hlokunta {
        flex-direction: column;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .hlokunta-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .hlokunta-info h3 {
        margin-top: 15px;
        text-align: center;
    }

    .hlokunta-info h4 {
        text-align: center;
        max-width: 80%;
    }

    .hlokunta-info .fs-5 {
        font-size: 15px !important;
    }

    .hlokunta-info .fs-6 {
        margin-top: -50px;
        text-align: start;
        font-size: 13px !important;
        max-width: 80%;
    }

    .clip-path-circle {
        clip-path: circle();
        width: 120px;
    }

    #implantti {
        margin-top: 15px !important;
    }

    .kalam {
        font-size: 12px !important;
    }

    #yhteystiedot {
        margin-top: 20px;
    }

}


/* MINI DEVICE */

@media (max-width: 680px) { 

    html {
        font-size: 13px;
        word-break: break-word;
    }

    .fs-5 {
        font-size: 15px !important;
    }

    .fs-6 {
        font-size: 14px !important;
    }

    #header > div > div {
        margin-top: 0px;
    }

    #logo-puhelin svg {
        width: 18px;
    }

    .nav a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #header {
        align-items: center !important;
        justify-content: center;
        padding: 0;
        margin: 0;
        padding-bottom: 100px;
    }

    #header > div {
        text-align: center !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    #header > div > .fs-5 {
        margin-bottom: 20px;
    }

    #header > div > .fs-6 {
        text-align: center;
        max-width: 80%;
    }

    #palvelut-btn {
        margin-top: 20px;
        width: 90px;
        padding: 13px 0px 13px 0px;
    }

    .title {
        font-size: 1rem;
        margin-top: -45px;
        margin-bottom: 20px;
    }

    .hlokunta {
        flex-direction: column;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .hlokunta-info {
        margin: 0;
    }

    .hlokunta-info h3 {
        margin-top: 15px;
        text-align: center;
    }

    .hlokunta-info h4 {
        text-align: center;
    }

    .hlokunta-info .fs-5 {
        font-size: 13px !important;
    }

    .hlokunta-info .fs-6 {
        text-align: start;
        font-size: 12px !important;
        max-width: 80%;
    }

    .clip-path-circle {
        clip-path: circle();
        width: 100px;
    }

    .hinnasto-container {
        padding: 15px !important;
    }

    #hinnastoTable {
        font-size: 12px;
    }

    #implanttiInfo {
        font-size: 12px;
    }

    .hinnasto-extra {
        font-size: 12px !important;
        padding-bottom: 15px;
        margin-top: 10px !important;
    }

    #yleista .fs-6 {
        font-size: 12px !important;
    }

    #uusilaite {
        font-size: 12px;
        padding: 0 !important;
        margin-bottom: 10px;
    }

    #implantti {
        margin-top: 15px !important;
        max-width: 70% !important;
    }

    #implantti > p {
        padding: 20px;
        font-size: 13px !important;
    }

    .kalam {
        font-size: 12px !important;
    }

    .vasenhammas,
    .oikeahammas {
        width: 11px;
    }

    #yhteystiedot {
        margin-top: 0px;
    }

    #contact > div {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #contact > div > div {
        align-items: center;
    }
    
    #contact > div > div > svg {
        width: 15px;
        stroke-width: 1px;
    }

    #contact > div > div > p {
        font-size: 12px !important;
    }

    .contact-link {
        font-size: 12px !important;
    }

    #kartta iframe {
        width: 400px;
        height: 300px;
    }
}